* {
	font-family:Cabin,Arial,Verdana,sans-serif;
}

body {
	min-width:700px;
	width:90%;
	background-color: rgb(88,93,118);
}
 
footer {
	height:36px;
}

div {
	padding:6px;
	color:white;
	margin:5px;
}

pre {
	padding:16px;
	margin:5px;
}

button {
	padding-top:6px;
	padding-right:18px;
	padding-bottom:6px;
	padding-left:18px;
	font-size:16px;
	color:white;
	border-radius:5px;
	outline:0px;
	cursor:pointer;
	background:rgba(167, 215, 255, 0.0980392);
	
}

button:hover{
	background:rgba(167, 215, 255, 0.14);
}

code {
	overflow-x:scroll;
	font-size:90%;
	border-right: 1px solid #999;

}


.title {
	font-size:50px;
	margin-left:9%;
}

.gh {
	margin-top:12px;
	float:right;
	vertical-align:bottom;
	display:inline-block;
	padding-right:42px;
	padding-left:42px;
	padding-top:9px;
	padding-bottom:9px;
}

.chapter {
	font-weight:lighter;
	font-size:28px;
	margin-left:10%;
}

.subchapter {
	font-size:22px;
	margin-left:10%;
}

.separator {
	margin-left:8%;
	margin-top:36px;
	margin-bottom:36px;
	border-bottom-color: rgba(255, 255, 255, 0.298039 );
	border-bottom-style: solid;
}

.functionTitle {
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	color:#FBFFFB;
	margin-left:10%;
	font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size:140%;
}

.text {
	margin-top:-12px;
	margin-left:10%;
	font-size:110%;
	font-weight:lighter;
	display:inline-block;

}

.pad {
	margin-top:0px;
	margin-bottom:0px;
	color:rgb(88,93,118);
	background: #f5f2f0;
	margin-left:10%;
}

.shadow {
	border-radius:5px 5px 5px 5px;
	border-top-color: rgba(255, 255, 255, 0.298039);
	border-top-style: solid;
	border-top-width: 1px;
	border-right-color: rgba(255, 255, 255, 0.298039);
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-color: rgba(255, 255, 255, 0.298039);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgba(255, 255, 255, 0.298039);
	border-left-style: solid;
	border-left-width: 1px;
	//-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	//-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	//box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.label {
	font-size:90%;
	color:rgb(88,93,118);
	font-weight:bold;
	margin-bottom:-4px;
}

.type { 
	font-size:90%;
	margin-left:-8px;
	margin-top:-4px;
	font-weight:normal;
	margin-bottom:-4px;
}

.string {
	color:#87193E;
}

.array {
	color:#6B008F;
}

.object {
	color:#004700;
}

.number {
	color:#0000CC;
}

.func {
	color:#338570;
}

.desc {
	font-size:90%;
	margin-top:-4px;
	color:rgb(88,93,118);
	padding-right:2px;
	font-weight:normal;
	margin-left:5px;
	padding:6px;
}

.divSeparator {
	margin-top:-16px;
	border-bottom:1px;
	border-bottom-color: rgba(70, 70, 70, 0.2  );
	border-bottom-style: solid;
}

.smallList {
	margin-left:-22px;
	margin-top:4px;
}

.n {
	color:black;
	font-style:italic;
}

.noBullets {
	padding-left:2%;
	list-style-type: none;
}


.largeitem {
	font-size:large;
}



.argument {
	padding-left:1%;
	padding-bottom:1%;
}

.topline {
	padding-top:2%;
}

.bottomline {
	padding-bottom:2%;
}


.result {
	color:rgb(88,93,118);
	font-size:90%;
	min-height:48px;
	max-height:200px;
	white-space: pre-wrap;
	margin-top:5px;
	margin-bottom:5px;
}

.tall {
	max-height:344px;
	height:344px;
	overflow-y:auto;
	overflow-x:hidden;
}

.bottomMargin {
	margin-bottom:-36px;
}

.textshadow {
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.resultHeader {
	color:gray;
	font-size:small;
	font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;
}










































