
body {
	width:94%;
	min-width:800px;
	background-color: rgb(88,93,118);
}

div {
	font-family:Cabin,Arial,Verdana,sans-serif;
	font-weight:lighter;
}

footer {
	height:36px;
}


button {
	margin-top:12px;
	padding-top:18px;
	padding-bottom:18px;
	font-size:100%;
	color:white;
	border-radius:5px;
	outline:0px;
	cursor:pointer;
	width:100%;
	-webkit-box-shadow: 1px 1px 1px rgba(240,240,240,0.8);
	-moz-box-shadow: 1px 1px 1px rgba(240,240,240,0.8);
	box-shadow: 1px 1px 1px rgba(240,240,240,0.8);
	border-top-color: rgba(255, 255, 255, 0.898039);
	border-top-style: solid;
	border-top-width: 1px;
	border-right-color: rgba(255, 255, 255, 0.898039);
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-color: rgba(255, 255, 255, 0.898039);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgba(255, 255, 255, 0.898039);
	border-left-style: solid;
	border-left-width: 1px;
	background:rgba(88,93,118,0.94);
}

button:hover{
	color:#a7d7ff;
	//color:rgba(240, 240, 240, .85);
	background:rgba(88,93,118, 0.98);
}

li > a {
	text-decoration:none;
	color:white;
}

li > a:hover {
	//color:rgba(240, 240, 240, .85);
	color:#a7d7ff;
	cursor:pointer;
	text-decoration:underline;
}

h3{
	font-weight:lighter;
	margin-top:0px;
	margin-bottom:0px;
}

h3 > a {
	color:rgb(88,93,118);
	text-decoration:none;
}

h3 > a:hover {
	text-decoration:underline;
}

button > a {
	text-decoration:none;
	color:white;
}

pre {
	overflow:auto;
	padding:0px 12px 12px 12px;
}

code {
	overflow-x:scroll;
	font-size:87%;
	border-right: 1px solid #999;
}


.title {
	color:white;
	font-size:54px;
	margin-left:54px;
	margin-bottom:14px;
}

.sub-title {
	color:white;
	margin-left:54px;
	padding:0px;
	font-size:24px;
	margin-bottom:-6px;
}

div.sidebar {
	padding:12px 1% 5px 0px;
	margin-top:18px;
	margin-left:36px; 
	width:200px;
	float:left;
	min-height:300px;
	border-radius: 4px 0px 0px 4px;
	border-top-color: rgba(255, 255, 255, 0.298039);
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: rgba(255, 255, 255, 0.298039);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgba(255, 255, 255, 0.298039);
	border-left-style: solid;
	border-left-width: 1px;
	color:white;
	background:rgba(167, 215, 255, 0.0980392);
	font-weight:lighter;

}

div.content {
	background:rgba(248, 248, 248, .9 );
	border-radius: 0px 4px 4px 4px;
	padding:20px 20px 12px 20px;
	margin-left:248px;
	margin-top:18px;
	min-height:800px;
	border-top-color: rgba(255, 255, 255, 0.298039);
	border-top-style: solid;
	border-top-width: 1px;
	border-right-color: rgba(255, 255, 255, 0.298039);
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-color: rgba(255, 255, 255, 0.298039);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgba(255, 255, 255, 0.298039);
	border-left-style: solid;
	border-left-width: 1px;
	color:rgb(88,93,118);
}



li.largeitem {
	font-size:large;
	margin-left:2%;
}

li.smallitem {
	margin-left:-12px;
	font-size:90%;
	padding:8px 0px 8px 0px;
	font-weight:lighter;
	list-style-type: square;
}

li.sidebaritem {
	margin-left:1%;
	padding:8px 0px 8px 0px;
}

li.smallitem:hover {
	color:rgba(240, 240, 240, .85);
	cursor:pointer;
}

.bold {
	font-weight:bold;
}

.functionTitle {
	margin-top:0px;
	margin-bottom:6px;
	font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.argument {
	margin-top:6px;
	font-size:90%;
	margin-left:12px;
	font-weight:bold;
	padding:5px;
}

.type {
	margin-left:-6px; 
	font-size:90%;
}

.text {
	margin-left:12px;
	font-size:90%;
	color:rgb(88,93,118);
	padding:8px;
}

.desc {
	margin-left:12px;
	font-size:90%;
	color:rgb(88,93,118);
	padding:8px;
	margin-bottom:12px;
}

.string {
	color:#87193E;
}

.array {
	color:#6B008F;
}

.object {
	color:#004700;
}

.number {
	color:#0000CC;
}

.func {
	color:#338570;
}

.divSeparator {
	margin-top:-8px;
	border-bottom:1px;
	border-bottom-color: rgba(200, 200, 200, 0.7  );
	border-bottom-style: solid;
}

.result {
	color:gray;
	min-height:100px;
	max-height:200px;
	white-space: pre-wrap;
	margin-top:5px;
	margin-bottom:10px;
	font-size:small;
	font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.tall {
	max-height:none;
	height:300px;
	overflow-y:auto;
	overflow-x:hidden;
}

.resultHeader {
	color:gray;
	font-size:small;
	font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;
}











